Prak2

In [2]:
def selectionSort(alist):
    for slot in range(0,len(alist)-1):
        position=slot
        for location in range(slot+1,len(alist)):
            if alist[location]<alist[position]:
                position = location

        temp = alist[slot]
        alist[slot] = alist[position]
        alist[position] = temp
        print(alist)
angka = [5,1,4,2,8,10,3]
selectionSort(angka)
print(angka)

[1, 5, 4, 2, 8, 10, 3]
[1, 2, 4, 5, 8, 10, 3]
[1, 2, 3, 5, 8, 10, 4]
[1, 2, 3, 4, 8, 10, 5]
[1, 2, 3, 4, 5, 10, 8]
[1, 2, 3, 4, 5, 8, 10]
[1, 2, 3, 4, 5, 8, 10]

Tuple

In [14]:
tup1=('mangga','pisang','semangka',1214,9565,3453)
tup2=('bangkok','cina','rusia','india','nepal')
tup3=(21,44,98,56,43)

print("tup1[3]:", tup3[3])

print("tup2[1:5]:", tup2[1:5])

tup4=tup1+tup2+tup3
print("tup4:",tup4)

tup1[3]: 56
tup2[1:5]: ('cina', 'rusia', 'india', 'nepal')
tup4: ('mangga', 'pisang', 'semangka', 1214, 9565, 3453, 'bangkok', 'cina', 'rusia', 'india', 'nepal', 21, 44, 98, 56, 43)

Dictionary

In [19]:
dict={'Nama':'Joko', 'Umur':43, 'Pekerjaan':'Dosen'}

print("dict['Nama']:",dict['Nama'], ", dict['Umur']:",dict['Umur'])

dict['Umur']=35
print("dict[Umur]:",dict['Umur'])

del dict['Pekerjaan']

dict['Nama']: Joko , dict['Umur']: 43
dict[Umur]: 35